<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="Server" value="localhost" />
        <add key="Database" value="students_apdb" />
        <add key="User" value="sa" />
        <add key="Password" value="nzR4eFSMIs^WUJlvqhS8r@Wu804g!3MX" />
    </appSettings>
</configuration>